<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_spare_parts" name="Autospare_Management"/>
    <menuitem id="menu_spare_parts_vehicle" name="Vehicle" parent="menu_spare_parts" action="action_spare_part_vehicle"/>
    <menuitem id="menu_spare_parts_conf" name="configuratio" parent="menu_spare_parts" action=""/>

</odoo>
